.grid-container {
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	display: grid;
	grid-gap: 15px;
	margin-block: 30px;
}

@media (max-width: 700px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 400px) {
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

.selectCategory {
	min-width: 180px;
	max-width: 300px;
}

.container-btn {
	min-width: 180px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.p-5{
	padding-inline: 15px;
}

